[Unit]
Description=HomeBus ^H Door publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-ctlh-door

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-ctlh-door.rb
TimeoutSec=30

Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
